* {
padding: 0px;
margin: 0px;
font-family: sans-serif;

 }

 body{
    background-color: rgba(65, 44, 6, 0.178);
    width: 98%;
    height: 94vh;
 }

 .contenedor {
     padding: 0px;
     margin: auto;
     width: 460px;
     height: 489px;
     background: #ff4245;
     border:30px ridge #ff4245

    }

    .player {
        background-color: rgb(72, 7, 223);
        border: 4px dashed rgb(129, 85, 187);
        width: 50px;
        height: 50px;
        border-radius: 29%;
        position: absolute;
        transition: all 0.3s;
      
    }

    .contenedor-pointer {
        background-color: rgba(0, 0, 0, 0.801);
        height: 50px;
        margin-top: 15px;
        width: 510px;
        margin: auto;
        border:5px dashed #ff4245;
        color:white;
        font-size: 18px;
        text-align: center;
        font-family: serif;
        padding: 10px 0px;
      
    }

    .everything{
        background-color: #352122;
        margin-top: 10px;
        
    }
    .contenedor-tiempo {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        background-color: red;
        
    }


    #enemigo {
    width:60px;
    position: absolute;
    transition: all 0.5s;
    border-radius: 50%;
    display: none;
    mix-blend-mode: multiply;
    background: transparent;
}

#enemigoDos {
    width:60px;
    position: absolute;
    transition: all 0.5s;
    border-radius: 50%;
    display: none;
}

#bomba {
    border-radius: 50%;
    width: 50px;
    position: absolute;
    transition: all 0.3s;
    mix-blend-mode: multiply;
    background: transparent;
}

#explosion {
    border-radius: 50%;
    width: 150px;
    top:200px;
    right: 500px;
    position: absolute;
    display: none;
    mix-blend-mode: multiply;
}   

  .victorias {
        padding: 5px;
        background-color: rgba(112, 51, 255, 0.87);
        margin-left:10px;
        color: rgba(95, 226, 43, 0.918);
        position: absolute;
    }


